@using HospitalManagement.Models.ViewModels
@model LoginVM

<h1>Login</h1>

<form asp-action="Login" class="w-50">
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Logohu"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>