<h1>Performanca</h1>

<div>
    <div>
	    <p>Raporti staf-pacient:</p>
        <p class="value"></p>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Raporti staf-pacient</th>
                <td></td>
            </tr>

            <tr>
                <th>Norma mesatare e pritjes per takim</th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Perqindja e takimeve te anulluara

                    <form>
                        <input type="date" />
                        <input type="date" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Fluksi i regjistrimeve te pacienteve

                    <form>
                        <input type="number" />
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Shpenzimet vjetore

                    <form>
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Fitimet

                    <form>
                        <input type="number" />
                        <input type="number" />
                        <input type="checkbox" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    "Operating margin" vjetor

                    <form>
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Tarifa mesatare vjetore e trajtimit

                    <form>
                        <input type="number" />
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Tarifa mesatare mujore e trajtimit

                    <form>
                        <input type="number" />
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Stafi me i perdorur

                    <form>
                        <input type="checkbox" />
                        <input type="number" />
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Procedurat me te perdorura

                    <form>
                        <input type="checkbox" />
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Procedurat me te perdorura

                    <form>
                        <input type="checkbox" />
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>

            <tr>
                <th>
                    Pacientet me te shpeshte

                    <form>
                        <input type="number" />
                        <input type="number" />
                        <input type="submit" />
                    </form>
                </th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>